# MongoDB pour Prisma
DATABASE_URL="mongodb+srv:connexion"

# Obligatoire pour NextAuth (utilisé pour signer les tokens internes)
NEXTAUTH_SECRET="api_key"

# Utilisé si tu signes tes propres JWT en plus (facultatif si tu n’utilises que NextAuth)
JWT_SECRET="api_key"

# Utilisé côté server & Vercel pour rediriger les callbacks OAuth, emails, etc.
NEXTAUTH_URL="http://localhost:3000"

RESEND_API_KEY=re_api_key

FROM_EMAIL="onboarding@resend.dev"

NEXT_PUBLIC_GOOGLE_PLACES_API_KEY="api_key"

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=ta_cle_google_maps

NEXT_PUBLIC_GEMINI_API_KEY=sk-ant-api03-ton-api-key-claude
